<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="format" value="date %level [%thread] %logger{10} [%line] %msg%n"/>
    <property name="filePath" value="logs"/>
    <property name="fileName" value="my.log"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${filePath}/${fileName}</file>
        <encoder>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>