<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>myAppName</contextName>

    <property name="pattern" value="%d %-5level [%thread] %logger{10} [line:%line] %m%n"/>
    <property name="pattern-color"
              value="%yellow(%d) %highlight(%-5level) [%thread] %green(%logger{10}) [line:%line]  %highlight(%msg) %n"/>
    <property name="filePath" value="logs"/>
    <property name="fileName" value="my.log"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${filePath}/${fileName}</file>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern-color}</pattern>
        </encoder>
    </appender>

    <logger name="com.shenjies88.logback.practice" level="debug">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="file"/>
    </root>
</configuration>